{% extends './base.html' %}
{% block content %}
    <div class="centered-container">
        <h1>支出</h1>
        <form action="{% url 'app:update' money.id %}" method="post">
            {% csrf_token %}
            <p>{{ money_form.title }}</p>
            <input type="hidden" {{ money_form.title2 }}
            <p>{{ money_form.duedate }}</p>
            <p>{{ money_form.content }}</p>
            <input type="hidden" {{ money_form.balance }}
            <a href="{% url 'app:edito' id=money.id %}">収入</a>
            <input type="submit" value="保存">
            <a href="{% url 'app:passbook' %}">戻る</a>
        </form>
    </div>
{% endblock %}