{% extends './base.html' %}
{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="#">トップ</a> -->
        </div>
        <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'app:passbook' %}">おこづかい帳</a></li>
                    <li class="active"><a href="{% url 'app:want' %}">欲しいものリスト</a></li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container">
  <!-- <div class="starter-template"> -->
    <div class="horizontal-container">
      <p>残高: {{ latest_money.balance }}</p>
    </div>
        <button><a href="{% url 'app:new1' %}" class="btn">+</a></button>
        
        <table border="1" width="100%"> 
            <tr>
              <th width="40%">メモ</th>
              <th width="10%">金額</th>
              <!-- <th width="10%">残高</th> -->
            </tr>
            
            {% for want in wants %}
            <tr>
              
              <td width="40%">{{ want.memo }}</td>
              <td width="10%">{{ want.yen }}</td>
              <!-- <td width="10%">{{ money.balance }}</td> -->
              <td width="5%"><button><a href="{% url 'app:edit1' want.id %}">編集</a></button></td>
              <td width="5%"><button><a href="{% url 'app:delete1' want.id %}">削除</a></button></td>
              
            </tr>
            {% endfor %}
            
          </table>
            
        <!-- <a href="{% url 'app:index' %}">戻る</a> -->
        
{% endblock %}